<html>
  <head>
  <%- include('./includes/head', { siteTitle: `${tag.name} | ${themeConfig.siteName}` }) %>
  </head>
  <body>
    <div class="main">
      <div class="left-content">
        <%- include('./includes/header') %>
        <%- include('./includes/footer') %>
      </div>
      <div class="main-content">
        <div class="right-content">
          <div class="current-tag-container">
            <h2 class="title">
                标签：#<%= tag.name %>
            </h2>
        </div>
        <%- include('./includes/post-list') %>
        <%- include('./includes/pagination') %>
        </div>
      </div>
    </div>
  </body>
</html>
<script src="./../media/scripts/button.js"></script>